---
import Layout from '../layouts/Layout.astro';
---

<Layout title='À Propos | Cinecal'>
    <div class='wrapper wrapper__about'>
        <h1 class='title title__about'>À propos</h1>
        <div class='about'>
            <div class='about__el about__img'></div>
            <div class='about__el about__info'>
                <p>
                    Je suis actuellement étudiant en Design Web et Mobile à la
                    Haute École Albert Jacquard, passionné depuis des années par
                    le monde de l’infographie et plus récemment par celui du Web
                    Design. Je suis avant tout attiré par l’aspect design visuel
                    dans la création de site internet sans pour autant négliger
                    les autres aspects.
                </p>
                <p>
                    Je suis à la recherche d’un stage à réaliser l’année
                    prochaine. Si mon travail vous intéresse n’hésitez pas à
                    aller consulter mon site ainsi que mes autres projets.
                </p>
                <a href='https://antoineweverbergh.be/'>antoineweverbergh.be</a>
            </div>
        </div>
    </div>
</Layout>
